@(article:Article, displayFullArticle:Boolean)

@main(){
<!-- Example row of columns -->
<div id="posts" class="row">
	<div class="span8">
		<div class="well well-dropshadow">
			<div class="edit-menu"> 
				<ul>
					<li><a href="#editArticle" data-toggle="modal"><i class="icon-pencil icon-white"></i> Edit Article</a></li>
					<li><i class="icon-remove icon-white"></i> Delete Article</li>
				</ul>
			</div>
			<div class="article-content">
				<h2 class="post-heading"><a href="@routes.Application.getArticle(article.friendlyUrl)">@article.title</a></h2>
				<h5 class="post-info">@Messages("post.info", article.author, article.formattedPublishDate)</h5>
				<div>
					@Html(article.body)
				</div>
				<div class="modal fade" id="editArticle">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>Edit article: @article.title</h3>
					</div>
					<div class="modal-body">
						<form id="editArticleForm">
							<span id="errors" class="hide"><span class="label label-important">@Messages("article.edit.error.label")</span> <span id="error-message"></span><br/><br/></span>
							<label for="editArticleTitle">@Messages("article.edit.title")</label><input id="editArticleTitle" name="title" value="@article.title"/>
							<label for="editArticleFriendlyUrl">@Messages("article.edit.friendly.url")</label>
							<input id="editArticleFriendlyUrl" name="friendly_url" value="@article.friendlyUrl" />
							<label for="editArticleTextarea">@Messages("article.edit.body")</label>
							<textarea id="editArticleTextarea" name="body" placeholder="Enter text ..." style="width: 510px; height: 150px">@article.body</textarea>
							<input type="hidden" name="author" value="@article.author" />
							<input type="hidden" name="publish_date" value="@article.publishDate" />
						</form>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn" data-dismiss="modal">Close</a>
						<a href="#" id="saveEditArticle" class="btn btn-primary">Save changes</a>
					</div>
					<script type="text/javascript">
					function doLoadArticle() {
						$('#editArticleTextarea').wysihtml5({
						"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
						"emphasis": true, //Italics, bold, etc. Default true
						"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
						"html": false, //Button which allows you to edit the generated HTML. Default false
						"link": true, //Button to insert a link. Default true
						"image": true //Button to insert an image. Default true
					});

						$.fn.serializeObject = function()
						{
							var o = {};
							var a = this.serializeArray();
							$.each(a, function() {
								if (o[this.name] !== undefined) {
									if (!o[this.name].push) {
										o[this.name] = [o[this.name]];
									}
									o[this.name].push(this.value || '');
								} else {
									o[this.name] = this.value || '';
								}
							});
							return o;
						};

						$("#saveEditArticle").live("click", function(){
							self = this;
							self.serialized = $('#editArticleForm').serializeObject();
						delete self.serialized._wysihtml5_mode; // Delete extra info

						self.json = JSON.stringify(self.serialized);
						console.log("JSON: " + self.json);

						$.ajax({
							url: "@routes.Application.upsertArticle(article.friendlyUrl)",
							type: "put",
							data: self.json,
							contentType: "application/json",
							dataType: "json"
						}).done(function(data, textStatus, jqXHR){ 
							console.log(data);
							$('#editArticle').modal('hide');
							location.reload();
						}).fail(function(jqXHR, textStatus, errorThrown){
							$('#error-message').text("Unable to update an article with identifier '@article.friendlyUrl'");
							$('#errors').removeClass('hide');
						});
					}); 
					}


					</script>
				</div>
			</div>
			@if(displayFullArticle) {
			<hr>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'magnusart'; // required: replace example with your forum shortname
              var disqus_identifier = '@article.friendlyUrl';
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              	dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
          }
      </div>
  </div>

  <div id="archive" class="span3">
  	<div class="well well-dropshadow">
  		Archive
  	</div>
  </div>
</div>
<footer>
	<p>&copy; Magnus Andersson 2012</p>
</footer>
}