@(message: String)

@main("Magnusart Blog") {
      <!-- Example row of columns -->
      <div id="posts" class="row">
        <div class="span8">
          <div class="well well-dropshadow">
            <h2 class="post-heading">Welcome</h2>
            <h5 class="post-info">Posted by Magnus Andersson at 2012-04-20 12:19</h5>
            <p>This is my blog, created as perparation for an event where I will do a presentation.</p>
            <p>The theme for this blog will be design and programming. I will mostly write about small projects I do in my free time.</p>
            <p>Welcome, I hope you'll enjoy your stay</p>
          </div>
        </div>
        <div id="archive" class="span3">
          <div class="well well-dropshadow">
            Archive
          </div>
        </div>
      </div>
      <footer>
        <p>&copy; Magnus Andersson 2012</p>
      </footer>
}