@(message: String)

@main("Play CloudBees Heroku") {
    <div class="container">
      <!-- Logo -->
      <div class="row" style="padding-top: 20px">
        <div class="span12">
          <img src="@routes.Assets.at("images/ma_logo.png")" />
          <h3 style="font-family: Belleza;">Art, Design & Programming</h3>
        </div>
      </div>
      
      <hr>
      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2 style="font-family: Signika Negative">Welcome</h2>
           <p>This is a placeholder for my new blog</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Magnus Andersson 2012</p>
      </footer>

    </div> <!-- /container -->
}